@page "/contact"

<h1>О&nbsp;программе</h1>

<p> Программа предназначена для склонения не только отдельных слов, но
    и словосочетаний, таких как ФИО, названия профессий, отделов, товаров.
    Словосочетания зачастую содержат слова с притяжательным окончанием 
    <em style="white-space: nowrap">-(с)ы/-(с)і</em>:
    <em>банк директоры</em>,
    <em>филиал менеджері</em>.
    Программа различает случаи, когда 
    <em style="white-space: nowrap">-(с)ы/-(с)і</em> 
    является окончанием или частью корня.
    Например, сравните склонение:
    <em>филиал менеджері – филиал менеджерлері</em>,
    <em>төтенше елші – төтенше елшілер</em>.
</p>

<p> Кроме склонения по падежам и лицам, программа способна определять число
    введенного слова.
    Например, знает, что <em>доллар</em> – это единственное число, а <em>балалар</em> – множественное;
    <em>принтер</em> – единственное, <em>парктер</em> – множественное.
</p>

<p> Программа написана на языке C# и доступна в виде 
    бесплатного 
    <a href="http://morpher.ru/ws3">веб-сервиса</a> (до 100 запросов в сутки),
    а также в виде платных 
    <a href="http://morpher.ru/kazakh/dotnet"> .NET-библиотеки</a> и
    <a href="http://morpher.ru/1c"> внешней компоненты для 1С</a>.
</p>

<p> Код сайта на GitHub: <a href="https://github.com/bzaar/morpher.kz">https://github.com/bzaar/morpher.kz</a></p>

<p> Авторы программы Сергей Слепов и Ерасыл Жылкыбаев. 
    Исключительные права принадлежат ИП Слепов С.Н. (<a href='http://morpher.ru'>morpher.ru</a>)
</p>

<p> Благодарим Татьяну Валяеву за сайт <a href="http://kaz-tili.kz">kaz-tili.kz</a> &mdash;
    интересный и познавательный источник знаний о грамматике казахского языка.
</p>

<p> Связаться с нами можно по адресу <a href="mailto:devs@@morpher.kz">devs@@morpher.kz</a></p>